on:
  pull_request:
    branches:
      - 'main'

  push:
    paths:
      - ".github/workflows/tests.yaml"
      - "**.go"
      - "go.mod"
      - "go.sum"

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Go vet
        run: go vet ./...

      - name: Go test
        run: go test ./...
